/node_modules
/public/hot
/public/storage
/resources/views/mail/clients
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
note.txt


/database/migrations/2025_01_08_095644_update_solde_column_to_decimal.php